doctype html
html
  head
    title 어서와용
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='http://s.codepen.io/assets/libs/modernizr.js', type='text/javascript')
    script(src='/javascripts/profile.js', type='text/javascript')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/profile.css')
    script(src='//tympanus.net/Development/DraggableDualViewSlideshow/js/dragdealer.js', type='text/javascript')
    script(src='//tympanus.net/Development/DraggableDualViewSlideshow/js/dragslideshow.js', type='text/javascript')
    script(src='//tympanus.net/Development/DraggableDualViewSlideshow/js/classie.js', type='text/javascript')

  body
    block content
