doctype html
html
  head
    title 어서와용
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='/javascripts/profile.js', type='text/javascript')
    link(rel='stylesheet', href='/stylesheets/profile.css')

  body
    block content
