extends layout_login

block content
    .wrapper(ng-controller='loginCtl')
      .container
        h1= title
        form.form
          input(type='text', placeholder='Username', name='email')
          input(type='password', placeholder='Password', name='password')
          button#login-button(type='submit') Login
          br
          button(onclick='FB.login()') FaceBook Login
          br
          button(onclick='FB.logout()') FaceBook Loout
          br
          button(ng-click='check()') wow
    ul.bg-bubbles
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
