extends layout_login

block content
    .wrapper
      .container
        h1= title
        form.form
          input(type='text', placeholder='Username', name='email')
          input(type='password', placeholder='Password', name='password')
          button#login-button(type='submit') Login
          br
          button(ng-click='login()') FaceBook Login
          br
          button(onclick='FB.logout()') FaceBook Logout
    ul.bg-bubbles
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
