extends layout_login

block content
    .wrapper
      .container
        h1 = title
        form.form
          input(type='text', placeholder='Username', name='email')
          input(type='password', placeholder='Password', name='password')
          button#login-button(type='submit') Login
    ul.bg-bubbles
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
