extends layout

block content
  .col-md-2.left(ng-controller='roomCtl',ng-scrollable="{scrollX:'none'}")
    .ani-repeat(ng-repeat='n in roomlist')
      a {{n}}
  .col-md-10.right
   .col-md-12.top
   .col-md-10.mid
    .col-md-12.bot
   .col-md-2.sub
